// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-poppins: 'Poppins';

* {
    font-family: $font-family-poppins;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/public/font/Poppins-Regular.ttf') format('truetype');
}

$mobile-breakpoint: 768px;
$tablet-breakpoint: 992px;
$dekstop-breakpoint: 1200px;
