.card-384 {
    display: block;
    background: $white;
    width: 38.4rem;
    padding: 3.2rem;

    @media screen and (max-width: 38.4rem) {
        width: 100%
    }
}

.card-mapel-assessment {
    background: #F6F6FC;
    min-height: 4.8rem;
    padding: 1.4rem 1.6rem;
    border-radius: 4px;
}

.card-mapel-assessment + .card-mapel-assessment{
    margin-top: 16px !important;
}

.card-mapel-assessment.done {
    background: #FBFBFF;
    padding: 1.4rem 1.6rem;
    color: $grey-6;

    .icon {
        display: none;
    }
}

.card-mapel-assessment.over {
    background: #F4F6F9;
    padding: 1.4rem 1.6rem;
    color: #202020;
}

.card-img-top {
    border-top-left-radius: calc(1rem - 1px) !important;
    border-top-right-radius: calc(1rem - 1px) !important;
}



.card-pts {
    padding: 1.4rem 1.6rem;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(65, 51, 104, 0.12), 0px 1px 2px rgba(65, 51, 104, 0.24);
    border-radius: 4px;
}

.card-pts:nth-child(1) {
    margin-top: 2.4rem;
}

.card-pts+.card-pts {
    margin-top: 1.6rem;
}

.card-pts:hover {
    cursor: pointer;
    background-color: $white-2;
}

.row.dashboard {
    margin-left: 0rem;
    box-sizing: border-box;
    width: 100%;
    align-items: center;

    .col-12:first-child {
        margin-top: 0;
    }

    .content-header {
        &:not(:first-child) {
            margin-top: 6.4rem;
        }

        margin-top: 0;

        .content-title {
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 28px;
            color: $black-1;
        }
    }

    .content-body {

        @media screen and (max-width: 38.4rem) {
            .content-body {
                padding: 0rem 4rem;
            }
        }

        @media screen and (max-width: 76.8rem) {
            .content-body {
                padding: 0rem 4rem;
            }
        }


        .card-deck {
            justify-content: flex-start;
            display: flex;
            flex-basis: 33rem;
            flex-flow: row wrap;

            .card+.card {
                margin-left: 2.4rem;
            }

            .card {
                border: 0rem;
                border-radius: 8px;
                text-decoration: none;
                text-align: left;
                color: $black;
                margin-top: 2.4rem;
                margin-right: 0 !important;
                max-width: 30.4rem;
                min-width: 30.4rem;
                box-shadow: 0px 2px 4px 0px rgba(65, 51, 104, 0.12), 0px 3px 6px 0px rgba(65, 51, 104, 0.15);

                .card-body {
                    padding: 1.6rem 2.4rem;

                    .card-img,
                    .card-img-top {
                        border-radius: 0;
                    }

                    .card-title {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 20px;
                        margin-bottom: 0 !important;
                    }

                    .card-text {
                        font-weight: normal;
                        font-size: 1.5rem;
                        line-height: 2.4rem;
                    }
                }
            }
        }

        @media screen and (max-width: 38.4rem) {
            .card-deck {
                justify-content: center;
            }
        }
    }
}

.container {
    width: 100%;
}

.card-result {
    background: $white;
    min-width: 50.4rem;

    a {
        text-decoration: none !important;
    }

    @media screen and (max-width: 38.4rem) {
        min-width: 100%;
    }

    .card-header {
        border: 0;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 20px;

        .close-icon {
            font-size: 4rem;

            &:before {
                color: $grey-3;
            }
        }
    }

    .card-body {
        padding: 4rem 3.2rem;
        padding-top: 2rem;

        .score-result {
            text-align: center;
        }

        .side-stars {
            font-size: 8rem;
            color: $deep-yellow;
        }

        .middle-star {
            font-size: 12rem;
            color: $deep-yellow;
        }

        .middle-star-border {
            font-size: 12rem;
            color: #EBF1F6 !important;
        }

        .side-stars-border {
            font-size: 8rem;
            color: #EBF1F6 !important;
        }

        .score-title {
            @include h2;
            margin-top: 2rem;
            color: $black;
        }

        .score-description {
            @include h5-reg;
            color: $black;
        }

        .btn-restart {
            @include h3;
            background: $purple-tp;
            color: $purple;
            padding: 1.2rem 1.6rem;
            box-sizing: border-box;

            &:hover {
                color: $purple-2;
                background: $purple-tp;
            }
        }

        .btn-next {
            @include h3;
            background: $purple;
            color: $purple;
            padding: 1.2rem 1.6rem;
            box-sizing: border-box;
            color: $white;
            border: 0;
            display: flex !important;
            align-items: center;
            justify-content: center;

            i:before {
                @include h3;
                margin-left: 0.4rem;
                color: $white;
            }

            &:hover {
                color: $white;
                background: $purple-2;
            }
        }

        .btn-retry {
            @include h3;
            border: 0 !important;
            background: $purple;
            color: $white;
            padding: 1.2rem 1.6rem;

            &:hover {
                background: $purple-2;

            }
        }


    }

    .res-container {
        display: flex;
        justify-content: center;

        .btn {
            display: block;
            border-radius: 0;
            margin: 0px 5px;

            @media screen and (max-width: 38.4rem) {
                display: block;
                margin: 5px 0px;
                width: 100%
            }
        }
    }
}

.card-note {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 16px 10px !important;
    background: $blue-tp-2;
}

.answer-note {
    width: 100%;
    padding: 16px 20px !important;
    background: $white-2;
    border-radius: 4px;
}

.card-result-literasi {
    position: relative;

    .close-button {
        position: absolute;
        right: 2rem;
        top: 2rem;

        i::before {
            font-size: 3rem;
        }
    }

    .card-body {
        padding-top: 5rem;
    }
}

.card-score {
    border: 2px solid #334E68;
    width: 164px;
    box-sizing: border-box;

    .header-score {
        height: 32px;
        border-radius: 0px;
        border-bottom: 2px solid #334E68;
        text-align: center;
        padding-top: 0.2rem;
    }

    .body-score {
        height: 56px;
        border-radius: 0px;
        text-align: center;
        padding-top: 0.8rem;
    }
}
