.bg-lego {
    width: 100vw;
    height: 100vh;
    background: url('/assets/images/home/background.jpg') no-repeat top center;
    background-size: cover;

    @media screen and (max-width: $mobile-breakpoint) {
        height: 50vh;
        background-position: top center;
    }
}

.bg-lego-mobile {
    @media screen and (max-width: $mobile-breakpoint) {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100vw;
        height: 50vh;
        background-color: $teal-bg;
        z-index: -100 !important;
    }
}

.bg-blue-tp {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    background-color: $blue-5 !important;
    z-index: -1 !important;
    overflow-y: auto !important;
}

.bg-grey {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    background: $grey-10 !important;
    z-index: -1 !important;
    overflow-y: auto !important;
}

.bg-grey-10{
    background: $grey-10;
}
