.mobile-only {
    @media screen and (max-width: $mobile-breakpoint) {
        display: block;
    }
    display: none;
}

.largescreen-only {
    @media screen and (max-width: $mobile-breakpoint) {
        display: none;
    }
    display: block;
}

.hover-only {
    display: none;
    &:hover {
        display: block;

        * {
            display: block;
        }
    }
}

.border-none {
    border: none !important;
}

.border-normal{
    border-radius:4px!important;
}

// displays
.d-initial {
    display: initial !important;
}
